#main {
  min-height: 80vh; }

.my-button {
    // A shitty button
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
    font-style: normal;
    font-weight: 400;
}

.my-button dl dt{ font-weight: 400; }

.narrow { font-weight: 400; }

.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }


/*  .navbar.navbar-default {
    font-size: 2em;
    color: black;
	}
    .navbar.navbar-default {
      height: 1em;
      }

footer.footer img {
  height: 1em; }

body {
  width: 100%;
}*/
div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url('/static/img/loading.gif') no-repeat;
    cursor: wait;
    }
