{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block view_title %}{% endblock view_title %}

{% block main %}
{{ super() }}

<div class="container">
  <div class="row">
    <div class="span" style='padding-bottom: 30px;'>
      <h1 class="text-center">Any Swipe Can Change Your...Couch</h1>
    </div>
  </div>
  <div class="row">
    {% for key in data.keys() %} 
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-body">
            <img width=224px height=224px
             class="thumbnail" src="{{ url_for('static', filename=data[key]) }}">
          </div>
        </div>
      </div> 
    {% endfor %}
<!--     <div class="row">
      <div class="col-md-4 col-md-offset-4"> --><!--ADD BUTTON LINKING TO TINDER PAGE-->

  </div>
</div>
{% endblock main %}