{% extends "base.html" %} 
{% block css %} 
{{ super() }}
{% endblock css %}

{% block view_title %}{% endblock view_title %} 

{% block main %} 
{{ super() }}

<div class="container">
  <div class="row">
    <div class="span" style='padding-bottom: 10px;'>
      <h2 class="text-center">Public Leaderboard</h2>
      <h4 class="text-center">Total Dopes and Nopes: {{ data['total_votes'] }}</h4>
    </div>
  </div>

  {% for i in data['model_indices'] %}

    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">{{i}}. <a id="model-link-{{i}}"
					  class="model-link"
					  href="{{url_for('pair_leaderboard_for_a_model', model_id=data[i]['model_name'])}}"
					  data-row-no="{{i}}"
					  data-toggle="tooltip"
					  data-placement="right"
					  data-rate="{{data[i]['model_matches']*100.0/data[i]['model_votes']}}"
					  data-numvotes="9"
					  title="Click to see top matched pairs for this model">{{ "{}".format(data[i]['model_name']) }}</a></h3>
      </div>

      <!-- </canvas><canvas id="approval-chart-{{i}}"></canvas> -->
      
      <div class="col-md-4">
        <h3 class="text-center">{{ "Approval Rate: {:.1f} percent".format(data[i]['model_matches']*100.0/data[i]['model_votes']) }}</h3>
      </div>
   
      <div class="col-md-4">
        <h3 class="text-center">{{ "Approved {} Times".format(data[i]['model_matches']) }}</h3>
      </div>
    </div>
  {% endfor %}


</div>


<script type='text/javascript'>

  $(function(){
  $('[data-toggle="tooltip"]').tooltip()
  })


  <!-- $("a.model-link").each(drawModelChart); -->
  
  <!-- function drawModelChart(modelLinkElement){ -->
  <!--   var rowNo = $(this).data("row-no"); -->
  <!--   var modelRow = $('#model-link-'+rowNo); -->
  <!--   var ctx = document.getElementById('approval-chart-'+rowNo).getContext('2d'); -->
  <!--   var myChart = new Chart(ctx, { -->
  <!--     type: 'bar', -->
  <!--     data: { -->
  <!--     labels: ['Dope', 'Nope'], -->
  <!--     datasets: [{ -->
  <!--     label: "", -->
  <!--     data: [modelRow.data('rate'),modelRow.data('numvotes')]}], -->
  <!--     backgroundColor: "rgba(153,255,51,0.4)" -->
  <!--   }}); -->
  <!-- } -->

</script>


{% endblock main %} 
