{% extends "base.html" %} {% block css %} {{ super() }}
<!--link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"-->
{% endblock css %} {% block view_title %}{% endblock view_title %} {% block main %} {{ super() }}

<div class="container">
  <div class="row">
    <div class="span" style='padding-bottom: 30px;'>
      <h2 class="text-center">Is it a Match?</h2>
    </div>
  </div>
  <div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <img width=400px height=400px style='margin: auto' class="thumbnail" src="{{ url_for('static', filename=data['image_1_path']) }}">
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <img width=400px height=400px style='margin: auto' class="thumbnail" src="{{ url_for('static', filename=data['image_2_path']) }}">
        </div>
      </div>
    </div>

    <!--     <div class="row">
      <div class="col-md-4 col-md-offset-4"> -->
    <!--ADD BUTTON LINKING TO TINDER PAGE-->

  </div>

  <form action="{{ url_for('judgement') }}" method=post class=my-button>
    <dl>
      <dd><input type=submit name='match' value='Match!'>
      <dd><input type=submit name='match' value='No match'>
      <dd><input type=checkbox name='flag'>
    </dl>
  </form>
  <script type='text/javascript'>
    function arrowPressed(matchvar) {
      console.log(matchvar)
      $.post( "/judgement", {
          match: matchvar
      });
    }

    document.onkeydown = function(evt) {
      evt = evt || window.event;
      switch (evt.keyCode) {
        case 37:
          arrowPressed('No match');
          break;
        case 39:
          arrowPressed('Match!');
          break;
      }
    };
  </script>
</div>
{% endblock main %}
